{% extends 'base.html.twig' %}

{% block title %}Statue{% endblock %}

{% block body %}
    <h1>Statue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statue.id }}</td>
            </tr>
            <tr>
                <th>En_cours</th>
                <td>{{ statue.enCours }}</td>
            </tr>
            <tr>
                <th>Expedition</th>
                <td>{{ statue.expedition }}</td>
            </tr>
            <tr>
                <th>Valider</th>
                <td>{{ statue.valider }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statue_index') }}">back to list</a>

    <a href="{{ path('statue_edit', {'id': statue.id}) }}">edit</a>

    {{ include('statue/_delete_form.html.twig') }}
{% endblock %}
