{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
        <div class="row">
        <div class="col-md-4">{{ form_row(form.nom) }}</div>
        <div class="col-md-8">{{ form_row(form.type) }}</div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
