{% block body %}

<style>

    /*
  Common invoice styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

body {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  padding: 0;
}

table tr td:last-child {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.large {
  font-size: 1.75em;
}

.total {
  font-weight: bold;
  color: #fb7578;
}

.logo-container {
  margin: 20px 0 70px 0;
}

.invoice-info-container {
  font-size: 0.875em;
}
.invoice-info-container td {
  padding: 4px 0;
}

.client-name {
  font-size: 1.5em;
  vertical-align: top;
}

.line-items-container {
  margin: 70px 0;
  font-size: 0.875em;
}

.line-items-container th {
  text-align: left;
  color: #999;
  border-bottom: 2px solid #ddd;
  padding: 10px 0 15px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}

.line-items-container th:last-child {
  text-align: right;
}

.line-items-container td {
  padding: 15px 0;
}

.line-items-container tbody tr:first-child td {
  padding-top: 25px;
}

.line-items-container.has-bottom-border tbody tr:last-child td {
  padding-bottom: 25px;
  border-bottom: 2px solid #ddd;
}

.line-items-container.has-bottom-border {
  margin-bottom: 0;
}

.line-items-container th.heading-quantity {
  width: 50px;
}
.line-items-container th.heading-price {
  text-align: right;
  width: 100px;
}
.line-items-container th.heading-subtotal {
  width: 100px;
}

.payment-info {
  width: 38%;
  font-size: 0.75em;
  line-height: 1.5;
}

.footer {
  margin-top: 100px;
}

.footer-thanks {
  font-size: 1.125em;
}

.footer-thanks img {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  margin-right: 4px;
}

.footer-info {
  float: right;
  margin-top: 5px;
  font-size: 0.75em;
  color: #ccc;
}

.footer-info span {
  padding: 0 5px;
  color: black;
}

.footer-info span:last-child {
  padding-right: 0;
}

.page-container {
  display: none;
}
.footer {
  margin-top: 30px;
}

.footer-info {
  float: none;
  position: running(footer);
  margin-top: -25px;
}

.page-container {
  display: block;
  position: running(pageContainer);
  margin-top: -25px;
  font-size: 12px;
  text-align: right;
  color: #999;
}

.page-container .page::after {
  content: counter(page);
}

.page-container .pages::after {
  content: counter(pages);
}


@page {
  @bottom-right {
    content: element(pageContainer);
  }
  @bottom-left {
    content: element(footer);
  }
}
</style>

{% set client_selected = devis.client %}

<div class="page-container">
    Page
    <span class="page"></span>
    of
    <span class="pages"></span>
  </div>
  
  <div class="logo-container">
    <img
      style="height: 18px"
      src="https://app.useanvil.com/img/email-logo-black.png"
    >
  </div>
  
  <table class="invoice-info-container">
    <tr>
      <td rowspan="2" class="client-name">
        Information client
      </td>
      <td>
       Raison Social : {{ client_selected.nom  }}
      </td>
    </tr>
    <tr>
      <td>
       Tél : {{ client_selected.telephone  }}
      </td>
    </tr>
    <tr>
      <td>
          
      </td>
      <td>
        Adresse : {{ client_selected.adress }}
      </td>
      <td>
        ICE : {{ client_selected.ice }}
      </td>
    </tr>
    <tr>
      <td>
        Invoice No: <strong>#00{{ devis.id }}</strong>
      </td>
    </tr>
  </table>
  
  
  <table class="line-items-container">
    <thead>
      <tr>
        <th class="heading-quantity">Nom Devis</th>
        <th class="heading-quantity"></th>
        <th class="heading-price">Price</th>
      </tr>
    </thead>
    <tbody>
        {% set total = 0  %}
            {% for lignefacture in devis.lignedevis %}
                <tr> 
                    <td >{{ lignefacture.service }}</td>
                    <td colspan="2" class="bold right">{{ lignefacture.prix }} DHS</td>

                </tr>
                
                    {% set  total = total +  lignefacture.prix %}
            {% else %}
                <tr>
                    <td colspan="5">il y a aucun devis dans votre table </td>
                </tr>
            {% endfor %}
                    {% set  taxes = (total * 20) / 100  %}

                </td>{{ total }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-end">total</td>
                <td >{{ total }} DHS</td>
            </tr>
            
        </tbody>
    </table>
  
  
  <table class="line-items-container has-bottom-border">
    <thead>
      <tr>
        <th>Info Paiement </th>
        <th></th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="payment-info">
          <div>
            Account No: <strong>{{ client_selected.ice }}</strong>
          </div>

        </td>
        <td class="large"></td>
        <td class="large total">{{ total }} Dhs</td>
      </tr>
    </tbody>
  </table>
  
  <div class="footer">
    <div class="footer-info">
      <span>hello@useanvil.com</span> |
      <span>555 444 6666</span> |
      <span>useanvil.com</span>
    </div>
</div>


{% endblock %}
