 {% extends 'base.html.twig' %}

{% block title %}commande index{% endblock %}
{% block stylesheetsnew %}<link rel="stylesheet" href="{{asset('assets/css/main.css')}}" type="text/css" media="print" />{% endblock %}

{% block body %}


{% set client_selected = commande.client %}
<div id="contenuinitial" class="contenuinitial">
    <div class="card">
        <div class="card-header py-3"> 
            <div class="row g-3 align-items-center">
                <div class="col-12 col-lg-12 col-md-12 me-auto">
                    {% if app.request.get('sts') %}
                        <div class="alert alert-success" id="notifmail">
                            Votre e-mail a ete bien envoyé à {{ client_selected.mail }}
                        </div>
                    {% endif %}
                    {# <form>
                        <a class="btn btn-primary" type="button" onclick="printDiv('printableArea')" value="print a div!" >Imprimer cette page</a>
                        <a class="btn btn-outline-primary" href="{{ path('download_file', {'id': devi.id}) }}">telecharger cette page</a>
                        <a class="btn btn-outline-primary" id='sendemail'  href="{{ path('senddevismail', {'id': devi.id}) }}?mail={{ client_selected.mail }}">Envoyer un mail</a>
                        <a class="btn btn-outline-primary" id='commande'  href="{{ path('commande', {'id': devi.id}) }}?idclient={{ client_selected.id }}">convertire en commande</a>
                   </form> #}
                </div> 
            </div>
        </div>



        <div class="card border shadow-none">
            <div class="card-header py-3">
                <div class="row align-items-center g-">
                    <div class="col-12 col-lg-2">
                      <h5 class="mb-0">Commande {{ commande.nom }}</h5>
                    </div>
                    <div class="col-12 col-lg-10 text-md-end">
                        <form>
                        <a class="btn btn-primary" type="button" onclick="printDiv('printableArea')" value="print a div!" >Imprimer cette page</a>
                        <a class="btn btn-outline-primary" href="{{ path('download_file', {'id': commande.id}) }}">telecharger cette page</a>
                        <a class="btn btn-outline-primary" id='sendemail'  href="{{ path('senddevismail', {'id': commande.id}) }}?mail={{ client_selected.mail }}">Envoyer un mail</a>
                        <a class="btn btn-outline-primary" id='commande'  href="{{ path('convertfacture', {'id': commande.id}) }}?idclient={{ client_selected.id }}">convertire en facture</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-header py-2 bg-light">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div class="">
                            <address class="m-t-5 m-b-5">
                            <h6 class="mb-2">Information du client</h6>
                                <p class="mb-2"><strong>Le client</strong> {{ client_selected.nom  }}</p>
                                <p class="mb-1"><strong>Adresse : </strong> {{ client_selected.adress  }}</p>
                                <p class="mb-1"><strong> numero téléphone : </strong>{{ client_selected.telephone }}</p>
                            </address>
                        </div>
                    </div>
                    <div class="col">
                    <div class="">
                    <address class="m-t-5 m-b-5">
                        <h6 class="mb-2">Information de la commande </h6>
                        <p class="mb-1"><strong>Référence commande</strong> : {{ commande.nom }}</p>
                        <p class="mb-1"><strong>Shipping</strong> : {{ client_selected.pays }}</p>
                        <p class="mb-1"><strong>Status</strong> : {{ commande.statue }}</p>
                    
                    </address>
                    </div>
                </div>
                <div class="col">
                    <div class="">
                    <small>Commande</small>
                    <div class=""><b>August 3,2012</b></div>
                    <div class="invoice-detail">
                        #0000123DSS<br>
                        Services Product
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-invoice">
                   <thead>
                      <tr>
                         <th>Service DESCRIPTION</th>
                         <th class="text-center" width="10%">Prix</th>
                      </tr>
                   </thead>
                    <tbody>
                    {% set total = 0  %}
                        {% for lignefacture in commande.ligneCommandes %}
                            <tr> 
                                <td>{{ lignefacture.service }}</td> 
                                <td>{{ lignefacture.prix }}</td>

                            </tr>
                            
                                {% set  total = total +  lignefacture.prix %}
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                                {% set  taxes = (total * 20) / 100  %}

                            
                        </tr>
                        <tr>
                            <td colspan="1" class="text-end">total</td>
                            <td >{{ total }}</td>
                        </tr>                            
                    </tbody>
                </table>
             </div>

             <div class="row bg-light align-items-center m-0">
               <div class="col col-auto p-4">
                  <p class="mb-0">Total HT</p>
                  <h4 class="mb-0">{{ total }} DHS</h4>
               </div>
               <div class="col col-auto p-4">
                  <i class="bi bi-plus-lg text-muted"></i>
               </div>
               <div class="col col-auto me-auto p-4">
                  <p class="mb-0">TVA (20%)</p>
                  <h4 class="mb-0">{{ taxes }} DHS</h4>
               </div>
               <div class="col bg-dark col-auto p-4">
                <p class="mb-0 text-white">TOTAL TTC</p>
                <h4 class="mb-0 text-white">{{ total + taxes }} DHS</h4>
               </div>
             </div><!--end row-->

             <hr>
           <!-- begin invoice-note -->
           <div class="my-3">
            * Make all cheques payable to [Your Company Name]<br>
            * Payment is due within 30 days<br>
            * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
           </div>
                <!-- end invoice-note -->
            </div>

            <div class="card-footer py-3">
                <p class="text-center mb-2">
                   THANK YOU FOR YOUR BUSINESS
                </p>
                <p class="text-center d-flex align-items-center gap-3 justify-content-center mb-0">
                   <span class=""><i class="bi bi-globe"></i> www.domain.com</span>
                   <span class=""><i class="bi bi-telephone-fill"></i> T:+11-0462879</span>
                   <span class=""><i class="bi bi-envelope-fill"></i> info@example.com</span>
                </p>
            </div>
           </div>       
        {# <div class="card-body">
            <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3">
                <div class="col">
                    <div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center gap-3">
                                <div class="icon-box bg-light-primary border-0">
                                    <i class="bi bi-person text-primary"></i>
                                </div>
                                <div class="info">
                                    <h6 class="mb-2">Le client {{ client_selected.nom  }}</h6>
                                    <p class="mb-1">Adresse :  {{ client_selected.adress  }}</p>
                                    <p class="mb-1"> numero téléphone : {{ client_selected.telephone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card border shadow-none radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center gap-3">
                            <div class="icon-box bg-light-success border-0">
                                <i class="bi bi-truck text-success"></i>
                            </div>
                            <div class="info">
                                <h6 class="mb-2">Order information</h6>
                                <p class="mb-1"><strong>Référence commande</strong> : {{ commande.nom }}</p>
                                <p class="mb-1"><strong>Shipping</strong> : {{ client_selected.pays }}</p>
                                <p class="mb-1"><strong>Status</strong> : {{ commande.statue }}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!--end row-->

            <div class="row">

                <div class="col-12 col-lg-8">
                    <div class="loginform"> 
                       <a class="btn btn-outline-success " href="{{ path('commande_new') }}?client={{client_selected.id}}">Ajouter devis </a> 
                    </div>#}
                      {#<div class="card border shadow-none radius-10">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light">
                                        <tr>
                                        <th>Nom Commande </th>
                                        <th>Prix </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0  %}
                                        {% for lignefacture in commande.ligneCommandes %}
                                            <tr> 
                                                <td>{{ lignefacture.service }}</td> 
                                                <td>{{ lignefacture.prix }}</td>
          
                                            </tr>
                                            
                                                {% set  total = total +  lignefacture.prix %}
                                        {% else %}
                                            <tr>
                                                <td colspan="4">no records found</td>
                                            </tr>
                                        {% endfor %}
                                                {% set  taxes = (total * 20) / 100  %}

                                            
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="text-end">total</td>
                                            <td >{{ total }}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card border shadow-none bg-light radius-10">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4">
                                <div>
                                    <h5 class="mb-0">Le Devis</h5>
                                </div>
                                <div class="ms-auto">
                                    <button type="button" class="btn alert-success radius-30 px-4">{{ commande.statue }}</button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">total Net </p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">{{ total }} Dhs</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">Taxes </p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">{{ taxes }} Dhs</h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <p class="mb-0">total </p>
                                </div>
                                <div class="ms-auto">
                                    <h5 class="mb-0">{{ total + taxes }} Dhs</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> #}
    </div>
</div>
 {# partie d'impression #}

<div id="printableArea" class="impression">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3">
            <div class="col">
                <div class="card border shadow-none radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center gap-3">
                            <div class="icon-box bg-light-primary border-0">
                                <i class="bi bi-person text-primary"></i>
                            </div>
                            <div class="info">
                                <h6 class="mb-2">Le client {{ client_selected.nom  }}</h6>
                                <p class="mb-1">Adresse :  {{ client_selected.adress  }}</p>
                                <p class="mb-1"> numero téléphone : {{ client_selected.telephone }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            <div class="card border shadow-none radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center gap-3">
                        <div class="icon-box bg-light-success border-0">
                            <i class="bi bi-truck text-success"></i>
                        </div>
                        <div class="info">
                            <h6 class="mb-2">Order information</h6>
                            <p class="mb-1"><strong>Shipping</strong> : {{ client_selected.pays }}</p>
                            <p class="mb-1"><strong>Statue</strong> : {{ commande.statue }}</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!--end row-->

        <div class="row">

            <div class="col-12 col-lg-8">
                <div class="loginform"> 
                    {# <a class="btn btn-outline-success " href="{{ path('commande_new') }}?client={{client_selected.id}}">Ajouter devis </a> #}
                </div>
                <div class="card border shadow-none radius-10">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Nom de la commande </th>
                                        <th>statue </th>
                                        <th>prix </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set total = 0  %}
                                    {% for lignefacture in commande.ligneCommandes %}
                                        <tr> 
                                            <td>{{ lignefacture.service }}</td> 
                                            <td>{{ lignefacture.prix }}</td>
                                        </tr>
                                        
                                            {% set  total = total +  lignefacture.prix %}
                                    {% else %}
                                        <tr>
                                            <td colspan="5">il y a aucun devis dans votre table </td>
                                        </tr>
                                    {% endfor %}
                                            {% set  taxes = (total * 20) / 100  %}

                                        </td>{{ total }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-end">total</td>
                                        <td >{{ total }}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border shadow-none bg-light radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <div>
                                <h5 class="mb-0">La commande</h5>
                            </div>
                            <div class="ms-auto">
                                <button type="button" class="btn alert-success radius-30 px-4">{{ commande.statue }}</button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <p class="mb-0">total Net </p>
                            </div>
                            <div class="ms-auto">
                                <h5 class="mb-0">{{ total }} Dhs</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <p class="mb-0">Taxes </p>
                            </div>
                            <div class="ms-auto">
                                <h5 class="mb-0">{{ taxes }} Dhs</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <p class="mb-0">total </p>
                            </div>
                            <div class="ms-auto">
                                <h5 class="mb-0">{{ total + taxes }} Dhs</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block js %}
    <script type="text/javascript">
    function printDiv(impression) {
     var printContents = document.getElementById(impression).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
    }

//////////////////////////////////////////////////////////    
    $(document).ready(function(){
        var elementExists = document.getElementById("notifmail");
        if(elementExists){
            timeoutID = window.setTimeout(removeAlert, 5000);
            document.getElementById("sendemail").classList.add("disabled");
        }
    });
    function removeAlert(){
        document.getElementById("notifmail").remove();
        document.getElementById("sendemail").classList.remove("disabled");
        URLSearchParams.delete('sts');      
    }
    

    </script>
{% endblock %}
{% endblock %}
