{% extends 'base.html.twig' %} {% block title %}Clients{% endblock %} {% block
body %}
<h1>Clients</h1>
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h5 class="mb-0">{{ client.nom }}</h5>
        <hr />
        <div class="card shadow-none border">
          <div class="card-header">
            <h6 class="mb-0">CONTACT INFORMATION</h6>
          </div>
          <div class="card-body">
            <form class="row g-3">
              <div class="col-12">
                <label class="form-label">Adresse</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ client.adress }}"
                />
              </div>
              <div class="col-6">
                <label class="form-label">Pays</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ client.pays }}"
                />
              </div>
              <div class="col-6">
                <label class="form-label">ICE</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ client.ice }}"
                />
              </div>
              <div class="col-6">
                <label class="form-label">Téléphone</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ client.telephone }}"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card shadow-sm border-0 overflow-hidden">
      <div class="card-body">
        <div class="profile-avatar text-center">
          <img
            src="assets/images/avatars/avatar-1.png"
            class="rounded-circle shadow"
            width="120"
            height="120"
            alt=""
          />
        </div>
        <div class="text-center mt-4">
          <h4 class="mb-1">{{ client.nom }}</h4>
          <p class="mb-0 text-secondary">
            {{ client.ville }}, {{ client.pays }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end row-->
<div class="card">
  <div class="card-header py-3">
    <div class="row g-3 align-items-center">
      <div class="col-12 col-lg-6 col-md-6 me-auto">
        <h4>Détails du {{ client.nom }}</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row row-cols-12 row-cols-xl-12 row-cols-xxl-12">
      <div class="col">
        <div class="card border shadow-none radius-10">
          <div class="card-body">
            <div
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4"
            >
              <div class="col">
                <div
                  class="card radius-10 border-0 border-start border-tiffany border-3"
                >
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Total Facture </p>
                        <h4 class="mb-0 text-tiffany">{{ clientnumber }}</h4>
                      </div>
                      <div class="ms-auto widget-icon bg-tiffany text-white">
                        <i class="bi bi-bag-check-fill"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div
                  class="card radius-10 border-0 border-start border-success border-3"
                >
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Total Revenue</p>
                        <h4 class="mb-0 text-success">
                          {{ totalfactureclient }} Dhs
                        </h4>
                      </div>
                      <div class="ms-auto widget-icon bg-success text-white">
                        <i class="bi bi-currency-dollar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col">
                <div
                  class="card radius-10 border-0 border-start border-orange border-3"
                >
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Facture payer</p>
                        <h4 class="mb-0 text-orange">{{ facturepayer }}</h4>
                      </div>
                      <div class="ms-auto widget-icon bg-orange text-white">
                        <i class="bi bi-person-plus-fill"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             {# <div class="col">
                <div
                  class="card radius-10 border-0 border-start border-pink border-3"
                >
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Facture non payer</p>
                        <h4 class="mb-0 text-success">24.25</h4>
                      </div>
                      <div class="ms-auto widget-icon bg-pink text-white">
                        <i class="bi bi-bar-chart-fill"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Total Orders</p>
                        <h4 class="mb-0 text-pink">542</h4>
                      </div>
                      <div class="ms-auto fs-2 text-pink">
                        <i class="bi bi-cup"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Total Income</p>
                        <h4 class="mb-0 text-info">$875</h4>
                      </div>
                      <div class="ms-auto fs-2 text-info">
                        <i class="bi bi-wallet"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Comments</p>
                        <h4 class="mb-0 text-purple">59</h4>
                      </div>
                      <div class="ms-auto fs-2 text-purple">
                        <i class="bi bi-chat-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Tickets</p>
                        <h4 class="mb-0 text-primary">145</h4>
                      </div>
                      <div class="ms-auto fs-2 text-primary">
                        <i class="bi bi-truck"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Notifications</p>
                        <h4 class="mb-0 text-primary">145</h4>
                      </div>
                      <div class="ms-auto fs-2 text-primary">
                        <i class="bi bi-bell"></i>
                      </div>
                    </div>
                    <hr class="my-2" />
                    <small class="mb-0"
                      ><i class="bi bi-arrow-up"></i>
                      <span>+12.3% from last week</span></small
                    >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Total Posts</p>
                        <h4 class="mb-0 text-danger">249</h4>
                      </div>
                      <div class="ms-auto fs-2 text-danger">
                        <i class="bi bi-pencil"></i>
                      </div>
                    </div>
                    <hr class="my-2" />
                    <small class="mb-0"
                      ><i class="bi bi-arrow-up"></i>
                      <span>+10.5% from last week</span></small
                    >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Messages</p>
                        <h4 class="mb-0 text-success">845</h4>
                      </div>
                      <div class="ms-auto fs-2 text-success">
                        <i class="bi bi-envelope"></i>
                      </div>
                    </div>
                    <hr class="my-2" />
                    <small class="mb-0"
                      ><i class="bi bi-arrow-up"></i>
                      <span>+15.8% from last week</span></small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <p class="mb-1">Articles</p>
                        <h4 class="mb-0 text-orange">645</h4>
                      </div>
                      <div class="ms-auto fs-2 text-orange">
                        <i class="bi bi-book"></i>
                      </div>
                    </div>
                    <hr class="my-2" />
                    <small class="mb-0"
                      ><i class="bi bi-arrow-up"></i>
                      <span>+16.5% from last week</span></small
                    >
                  </div>
                </div>
              </div> #}
            </div>
            <!--end row-->
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>
<div class="card">
  <div class="card-header py-3">
    <div class="row g-3 align-items-center">
      <div class="col-12 col-lg-6 col-md-6 me-auto">
        <h4>Liste devis du client {{ client.nom }}</h4>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Liste des devis</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Liste des commandes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Liste des factures</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="card-body">
    <div class="row row-cols-12 row-cols-xl-12 row-cols-xxl-12">
      <div class="col">
        <div class="card border shadow-none radius-10">
          <div class="card-body">
            <table class="table align-middle mb-0">
              <thead class="table-light">
                <tr>
                  <th>Référence</th>
                  <th>client</th>
                  <th>statue</th>
                  <th>date de création</th>
                  <th>actions</th>
                </tr>
              </thead>
              <tbody>
                {% for devi in devis %}
                <tr>
                  <td>{{ devi.nom }}</td>
                  <td>{{ devi.statue }}</td>
                  <td>{{ devi.DateFormat }}</td>
                  <td>{{ devi.client.nom }}</td>

                  <td>
                    <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                      data-bs-original-title="Afficher" aria-label="Views" href="{{ path('facture_show', { id: devi.id }) }}"><i class="bi bi-eye-fill"></i></a>
                    <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editer" aria-label="Views" href="{{ path('facture_edit', { id: devi.id }) }}" ><i class="bi bi-pencil-fill"></i></a>
                    {# <a
                      class="text-primary p-2"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title=""
                      data-bs-original-title="Editer"
                      aria-label="Views"
                      href="{{ path('facture_edit', { id: facture.id }) }}"
                      ><i class="bi bi-trash-fill"></i
                    ></a> #}
                    
                  </td>
                </tr>
                {% else %}
                <tr>
                  <td colspan="5">il y a aucun devis dans votre table</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="card-body">
    <div class="row row-cols-12 row-cols-xl-12 row-cols-xxl-12">
      <div class="col">
        <div class="card border shadow-none radius-10">
          <div class="card-body">
            <table class="table align-middle mb-0">
              <thead class="table-light">
                <tr>
                  <th>Référence</th>
                  <th>client</th>
                  <th>statue</th>
                  <th>Date de création</th>
                  <th>actions</th>
                </tr>
              </thead>
              <tbody>
                {% for commandes in commande %}
                <tr>
                  <td>{{ commandes.nom }}</td>
                  <td>{{ commandes.statue }}</td>
                  <td>{{ commandes.DateFormat }}</td>
                  <td>{{ commandes.client.nom }}</td>

                  <td>
                    <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                      data-bs-original-title="Afficher" aria-label="Views" href="{{ path('facture_show', { id: commandes.id }) }}"><i class="bi bi-eye-fill"></i></a>
                    <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editer" aria-label="Views" href="{{ path('facture_edit', { id: commandes.id }) }}" ><i class="bi bi-pencil-fill"></i></a>
                    {# <a
                      class="text-primary p-2"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title=""
                      data-bs-original-title="Editer"
                      aria-label="Views"
                      href="{{ path('facture_edit', { id: facture.id }) }}"
                      ><i class="bi bi-trash-fill"></i
                    ></a> #}
                    
                  </td>
                </tr>
                {% else %}
                <tr>
                  <td colspan="5">il y a aucun devis dans votre table</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="card-body">
      <div class="row row-cols-12 row-cols-xl-12 row-cols-xxl-12">
        <div class="col">
          <div class="card border shadow-none radius-10">
            <div class="card-body">
              <table class="table align-middle mb-0">
                <thead class="table-light">
                  <tr>
                    <th>Référence</th>
                    <th>client</th>
                    <th>statue</th>
                    <th>Date de création</th>
                    <th>actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for facture in factures %}
                  <tr>
                    <td>{{ facture.nom }}</td>
                    <td>{{ facture.statue }}</td>
                    <td>{{ facture.DateFormat }}</td>
                    <td>{{ facture.client.nom }}</td>

                    <td>
                      <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                        data-bs-original-title="Afficher" aria-label="Views" href="{{ path('facture_show', { id: facture.id }) }}"><i class="bi bi-eye-fill"></i></a>
                      <a class="text-primary p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editer" aria-label="Views" href="{{ path('facture_edit', { id: facture.id }) }}" ><i class="bi bi-pencil-fill"></i></a>
                      {# <a
                        class="text-primary p-2"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title=""
                        data-bs-original-title="Editer"
                        aria-label="Views"
                        href="{{ path('facture_edit', { id: facture.id }) }}"
                        ><i class="bi bi-trash-fill"></i
                      ></a> #}
                      
                    </td>
                  </tr>
                  {% else %}
                  <tr>
                    <td colspan="5">il y a aucun devis dans votre table</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>  
  </div>
</div>

</div>


{% endblock %}
