{% extends 'base.html.twig' %}

{% block title %}Lignedevis index{% endblock %}

{% block body %}
    <h1>Lignedevis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qte</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lignedevi in lignedevis %}
            <tr>
                <td>{{ lignedevi.id }}</td>
                <td>{{ lignedevi.qte }}</td>
                <td>{{ lignedevi.prix }}</td>
                <td>
                    <a href="{{ path('lignedevis_show', {'id': lignedevi.id}) }}">show</a>
                    <a href="{{ path('lignedevis_edit', {'id': lignedevi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lignedevis_new') }}">Create new</a>
{% endblock %}
